.main-layout {
  display: flex;
  min-height: 100vh;
}

.main-layout-content {
  flex-grow: 1;
  min-width: 0;
}

.main-layout-main {
  padding: 16px;
}

.main-layout-container {
  max-width: 1536px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .main-layout-content {
    margin-left: 260px;
  }

  .main-layout-main {
    padding: 24px;
  }
}
